* {
    margin: 0;
    padding: 0;
}

.wrapper {
    height: 100vh;
}

.top-menu {
    display: flex;
    justify-content: space-between;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}


.login-page-container {
    display: flex;
    flex-direction: column;
    border: darkgray solid 1px;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 15px;
    max-width: 400px;
    margin: 50px;
}

.sign-up:active {
    background-color: teal;
}

.forgot:active {
    background-color: teal;
}

.login-field:focus {
    box-shadow: 0 0 10px teal;
    border: teal 1px solid;
}

.pas-field:focus {
    box-shadow: 0 0 10px teal;
    border: teal 1px solid;
}

.sign-button {
    background-color: teal;
    border: teal 1px solid;
}

.sign-button:hover {
    background-color: #039797;
    border: #039797 1px solid;
}

.remember-check-box {
    border: teal 1px solid;
}

.remember-check-box:focus {
    box-shadow: none;
    border: teal 1px solid;
}

.remember-check-box:checked {
    background-color: #039797;
    border: teal 1px solid;
    box-shadow: none;
}

.logo {

    padding-right: 100px;
}

.price-input-range {
    display: flex;
    justify-content: space-between;

}

.products {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 100px;
    min-height: 70vh;
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 80%;
}


.card-img {
    max-width: 100%;
}

.price-range {
    max-width: 150px;
}

.products-cards {


}

.admin-top-menu {
    padding: 15px;
    background-color: darkslategray;
    color: white;
    margin: 0 auto;
    border-bottom: white 1px solid;
}

.admin-top-menu a {
    color: #039797;
}

.admin-top-menu a:hover {
    color: whitesmoke;
}

.admin-panel-body {
    display: flex;
    margin: 0 auto;
    min-height: 100%;
}

.right-side {
    min-width: 100%;
    background-color: whitesmoke;
}

.left-side {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    background-color: darkslategray;
    color: white;
    padding: 15px;
    box-sizing: border-box;
    margin: 0 auto;
}

.left-heading {
    padding-left: 10px;
}

.nav-link {
    padding: 10px;
}

.left-side a {
    color: #039797;
}

.left-side a:hover {
    color: white;
}

.add-user-form {
    max-width: 600px;
    min-width: 200px;
    padding: 50px;
    box-sizing: border-box;
}

.add-product-form {
    max-width: 600px;
    min-width: 200px;
    padding: 50px;
    box-sizing: border-box;
}

.product-card {
    display: flex;
    justify-content: space-around;
    margin: 50px;
    padding-right: 50px;
    box-sizing: border-box;
    min-width: 350px;

}

.filter-options {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    min-width: 250px;
    margin-right: 100px;
    padding: 10px;
}

.footer {
    height: 300px;
    background-color: #1f1f1f;
}

.pagination {
    padding-top: 50px;
    padding-right: 100%;
}

.search {
    padding-left: 10px;
    width: 500px;
}

.cart-image {
    display: flex;
    padding-left: 200px;
}

.cart-png {
    width: 50px;
    position: relative;
}

.cart-point-img {
    width: 20px;
    position: absolute;
}

.cart_prod_count {
    position: absolute;
    box-sizing: border-box;
    color: aliceblue;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 700px;
    padding-top: 300px;

}

.cart-body{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.cart{
    display: flex;
    justify-content: space-between;

}

.cart-left-side{
    min-width: 600px;
    margin-bottom: 25px
;

}
.cart-right-side{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    min-width: 250px;
    border: #dadada 1px solid ;
    padding: 15px;
}

.cart-prod-image{
    max-width: 100px;
}

.prod-img{
    padding-right: 25px;
}
