<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
          crossorigin="anonymous"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <title>Admin panel</title>
</head>

<body>

<h1>Hello Admin</h1>
<div>
    <h5>
        <div>
            <a th:href="@{${#request.getServletPath()} + '/new_user'}">Create user</a>
        </div>
        <div>
            <a th:href="@{${#request.getServletPath()} + '/new_product'}">Add new product</a>
        </div>
    </h5>
</div>

</body>
</html>